@define-color caja_sidebar_bg #505050;
@define-color caja_sidebar_fg #fff;
@define-color caja_sidebar_selected_fg #fff;

/****************
 * Caja desktop *
 ****************/

.caja-canvas-item {
    border-radius: 3px;
}

.caja-desktop.caja-canvas-item {
    color: @desktop_item_fg;
    text-shadow: 1px 1px @desktop_item_text_shadow;
}

.caja-desktop.caja-canvas-item:selected {
    background-color: alpha(@theme_selected_bg_color, 0.8);
    background-image: none;
    color: @theme_selected_fg_color;
    text-shadow: none;
}

/********
 * Caja *
 ********/

/* caja sidebar */
CajaWindow FMTreeView .view,
CajaWindow CajaNotesViewer .view,
CajaWindow CajaPlacesSidebar .view,
CajaWindow CajaHistorySidebar .view,
CajaWindow CajaInformationPanel GtkVBox,
CajaWindow CajaEmblemSidebar GtkViewport {
    background-color: @caja_sidebar_bg;
    color: @caja_sidebar_fg;
    border-width: 0px;
}

/****************
 * Mate-Panel *
 ****************/

mintmenu:selected GtkBox {
    background-color: @theme_selected_bg_color;
}

.mate-panel-menu-bar,
.gnome-panel-menu-bar,
.mate-panel-menu-bar .menubar,
.gnome-panel-menu-bar .menubar,
.mate-panel-menu-bar > .menuitem,
.gnome-panel-menu-bar > .menuitem,
PanelToplevel.background,
#PanelPlug,
#PanelApplet .button,
#PanelApplet-window-menu-applet-button {
    color: #d9d9d9;
    background-color: #333333; /* @theme_bg_color; */
    background-image: none;
    border-image: none;
}

#PanelApplet .button {
    margin: 2px;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    background-color: transparent;
    background-image: none;
}

#PanelApplet WnckTasklist .button.flat {
    margin: 2px;
    padding: 0px 3px 0px 3px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: transparent;
    icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      alpha(white, 0.1),
                                      alpha(white, 0.05));
}

#PanelApplet WnckTasklist .button.flat:hover,
#PanelApplet .button:hover,
#PanelApplet WnckTasklist .button.flat:checked:hover,
#PanelApplet WnckTasklist .button.flat:active:hover,
#PanelApplet .button:checked:hover,
#PanelApplet .button:active:hover {
    margin: 2px;
    padding: 0px 3px 0px 3px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: transparent;
    box-shadow: none;
    background-color: #9ab87c;
}

#PanelApplet WnckTasklist .button.flat:checked,
#PanelApplet WnckTasklist .button.flat:active,
#PanelApplet .button:checked,
#PanelApplet .button:active {
    margin: 2px;
    padding: 0px 3px 0px 3px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: transparent;
    background-color: alpha(#ffffff, 0.3);
}

MatePanelAppletFrameDBus PanelSeparator,
PanelSeparator {
    border-width: 0;
    background-image: url("../assets/separator-vertical.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    text-shadow: none;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 1px;
}
